daiquiri==3.2.5.1
demes==0.2.3
demesdraw==0.4.0
jupyter-book==1.0.2
networkx==3.3
matplotlib==3.9.0
newick==1.9.0
sphinx-argparse==0.4.0
sphinx-book-theme # not pinned to enable easy updates
sphinx-issues==4.1.0
tskit==0.5.8
scipy==1.14.0