daiquiri==3.3.0
demes==0.2.3
demesdraw==0.4.0
jupyter-book==1.0.4.post1
networkx==3.4.2
matplotlib==3.10.1
newick==1.10.0
sphinx-argparse==0.5.2
sphinx-book-theme # not pinned to enable easy updates
sphinx-issues==5.0.0
tskit==0.6.0
scipy==1.15.2