jupyter-book==0.15.1
sphinx-issues==3.0.1
sphinx-argparse==0.4.0
tskit-book-theme # not pinned to enable easy updates
numpy==1.25.2
tskit==0.5.5
demes==0.2.3
matplotlib==3.7.2
networkx==3.1
scipy==1.11.1
daiquiri==3.2.1
demesdraw==0.4.0
newick==1.9.0