repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-yaml
  - repo: https://github.com/benjeffery/pre-commit-clang-format
    rev: '1.0'
    hooks:
    - id: clang-format
      exclude: argtable3
      verbose: true
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
        args: [--unclassifiable-application-module=_msprime]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [--config=.flake8]
        additional_dependencies: ["flake8-bugbear==25.11.29", "flake8-builtins==3.1.0"]
