codecov
coverage
flake8
mock
nose
# We need setuptools_scm for building on RTD.
setuptools_scm
sphinx
sphinx-argparse
sphinx_rtd_theme
svgwrite
# Seems to be a problem with Python 3. svgwrite imports
# pyparsing.
pyparsing < 2.1

# We need pysam and PyVCF for testing VCF output.
pysam
PyVCF
