# https://github.com/tskit-dev/msprime/issues/1860
# Version < 4 is required by python_jsonschema_objects,
# but demes will pull in the latest so we pin here.
jsonschema<4.0
gsl
tskit==0.5.3
stdpopsim==0.1.2
demes==0.2.1
