version: 2.1
orbs:
  codecov: codecov/codecov@3.2.4

jobs:
  build:
    docker:
      - image: cimg/python:3.10
    working_directory: /home/circleci/msprime
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci *
      - restore_cache:
          # Note: we put a v{x} suffix at the end of the cache key so that
          # we can invalidate the cache when we need to. Note that we need
          # to update the key in the ``save_cache`` block below also when
          # doing that.
          key: msprime-{{ .Branch }}-v5
      - run:
          name: Checkout submodules
          command: |
            git submodule update --init --recursive
            # Write out the status for debugging purposes. Are we checked out at tags?
            git submodule status --recursive
      - run:
          name: Install dependencies and set path
          command: |
            sudo apt-get update
            sudo apt-get install libgsl0-dev libcunit1-dev libconfig-dev ninja-build valgrind clang
            pip install uv
            uv venv
            uv pip install -r pyproject.toml --extra test
            # way to set path persistently https://circleci.com/docs/2.0/env-vars/#setting-path
            echo 'export PATH=/home/circleci/.local/bin:$PATH' >> $BASH_ENV
      - save_cache:
          key: msprime-{{ .Branch }}-v5
          paths:
            - "/home/circleci/.local"

      - run:
          name: Compile Python
          command: |
            source .venv/bin/activate
            make allchecks

      - run:
          name: Run highlevel tests
          # Run tests without background threads
          command: |
            source .venv/bin/activate
            pytest --cov=msprime --cov-report=xml --cov-branch -n 0 tests

      - codecov/upload:
          flags: python
          token: CODECOV_TOKEN

      - run:
            name: Delete coverage
            command: |
              rm .coverage

      - run:
          name: Compile C with gcc
          command: |
            source .venv/bin/activate
            CFLAGS=--coverage meson lib/ build-gcc && ninja -C build-gcc

      - run:
          name: Run the low-level tests.
          command: |
            source .venv/bin/activate
            ninja -C build-gcc test

      - run:
          name: Run gcov manually, as the one used in codecov doesn't work here.
          command: |
            gcov -pb -o ./build/temp.linux*/msprime msprime/_msprimemodule.c
            cd build-gcc
            # TODO should be able to do this with 'find', but it's tricky and opaque.
            gcov -pb ./libmsprime.a.p/fenwick.c.gcno ../lib/fenwick.c
            gcov -pb ./libmsprime.a.p/msprime.c.gcno ../lib/msprime.c
            gcov -pb ./libmsprime.a.p/mutgen.c.gcno ../lib/mutgen.c
            gcov -pb ./libmsprime.a.p/object_heap.c.gcno ../lib/object_heap.c
            gcov -pb ./libmsprime.a.p/interval_map.c.gcno ../lib/interval_map.c
            gcov -pb ./libmsprime.a.p/util.c.gcno ../lib/util.c
            gcov -pb ./libmsprime.a.p/likelihood.c.gcno ../lib/likelihood.c
            gcov -pb ./libmsprime.a.p/rate_map.c.gcno ../lib/rate_map.c
            cd ..

      - codecov/upload:
          flags: C
          token: CODECOV_TOKEN

      - run:
          name: Valgrind for C tests.
          command: |
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_core
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_ancestry
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_fenwick
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_likelihood
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_mutations
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_rate_map
            valgrind --leak-check=full --error-exitcode=1 ./build-gcc/test_sweeps

      - run:
          name: Make sure we can build a distribution.
          command: |
            source .venv/bin/activate
            python -m build --sdist
            python -m build --wheel
            python -m twine check dist/*.tar.gz --strict

      - run:
          name: Install from the distribution tarball
          command: |
            mkdir installtest
            cd installtest
            python -m venv venv
            source venv/bin/activate
            pip install --upgrade setuptools pip
            pip install ../dist/*.whl
            python -c 'import msprime; print(msprime.__version__)'

            # We should still be able to import without the newick module
            python -m pip uninstall -y newick
            python -c 'import msprime; print(msprime.__version__)'
