Language: Cpp
BasedOnStyle: GNU
SortIncludes:    false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Linux
TabWidth:        4
IndentWidth:     4
ColumnLimit:     89
SpaceBeforeParens:
    ControlStatements
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
IndentCaseLabels: true
AlignAfterOpenBracket: DontAlign
BinPackArguments: true
BinPackParameters: true
AlwaysBreakAfterReturnType: AllDefinitions

# These are disabled for version 6 compatibility
# StatementMacros: ["PyObject_HEAD"]
# AlignConsecutiveMacros: true