bintrees==2.2.0
daiquiri==3.2.5.1
demes==0.2.3
mypy==1.10.1 
newick==1.9.0
pytest==8.2.2
pytest-cov==5.0.0
pytest-xdist==3.6.1
python_jsonschema_objects==0.5.5
scipy==1.14.0
stdpopsim==0.1.2
tskit==0.5.8
kastore==0.3.3
