bintrees==2.2.0
daiquiri==3.3.0
demes==0.2.3
mypy==1.15.0
newick==1.10.0
pytest==8.3.5
pytest-cov==6.0.0
pytest-xdist==3.6.1
python_jsonschema_objects==0.5.7
scipy==1.14.0
tskit==0.6.0
kastore==0.3.3
