bintrees==2.2.0
daiquiri==3.3.0
demes==0.2.3
mypy==1.17.0
newick==1.10.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-xdist==3.8.0
python_jsonschema_objects==0.5.7
scipy==1.15.3
tskit==0.6.4
kastore==0.3.3
