name: Docs
on:
  pull_request:
  push:
    branches: [main]
    tags:
      - '*'
  merge_group:
jobs:
  Docs:
    uses: tskit-dev/.github/.github/workflows/docs.yml@v10
    with:
      additional-apt-packages: libgsl-dev
